<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>here's some test text to see if i have got the branch functionality to work correctly</p>
<p>here's some text to see if removing the additional remote stops adding chagnes</p>